workflow_n8n.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "id": "314cbfa8-0d44-4e05-9986-813f18323cc7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Inseriamo la nostra materia prima direttamente dentro lo script per il test\n\nconst testoDiProva = \"INSERISCI QUI IL TUO TESTO DA TRASFORMARE IN POST SOCIAL\";\n\n// Puliamo il testo da spazi vuoti inutili\nconst testoPulito = testoDiProva.trim();\n\n// Generiamo la scatola di output pronta per Google Gemma\nreturn {\n  json: {\n    testo_pronto_per_ai: testoPulito,\n    lunghezza_testo: testoPulito.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        0
      ],
      "id": "a65e20c2-bc8b-4e26-b144-0a27819318c3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un esperto Copywriter e Social Media Manager. Il tuo compito è trasformare il testo dell'utente in 3 post distinti per LinkedIn, X (Twitter) e Instagram. Mantieni un tono professionale ma accessibile. Per X, dividi il testo in blocchi numerati (Thread) inferiori a 280 caratteri.\nFormatta questo testo per i social:  {{ $json.testo_pronto_per_ai }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        112,
        0
      ],
      "id": "093e0024-82ad-4623-ba3d-4d6c9a7619c3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "google/gemma-4-e2b",
          "mode": "list",
          "cachedResultName": "google/gemma-4-e2b"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "text"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        208
      ],
      "id": "d4fbdc14-d066-40b9-9d30-6c216e4161d7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UTxXV2xEy6Zg3XnD",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {
          "encoding": "binary",
          "fileName": "post_social_pronti.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        464,
        0
      ],
      "id": "2ffe5c5a-cce7-45c7-9518-29dc14c5ddfa",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d65bc0b3-35b6-4cf3-997d-2ddd7c42dacd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5da2470e2be717e74b2325be4fc9d664b55e7bda22079046e63c7a9ae4392fd"
  },
  "nodeGroups": [],
  "id": "q5nbtxrrfpKD8he0",
  "tags": []
}